.wrapper {
    --search-border-radius: 92px;
    --search-height: 48px;
    --search-top-line: 9px;
    --search-distance: 52px;

    width: 100%;
    height: var(--defaultlayoutOutHeaderHeight);
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--defaultlayoutOutWidth);
    display: flex;
    padding: 0 var(--defaultlayoutOutHorizontalSpace);
    align-items: center;
    justify-content: space-between;
}
.action {
    display: flex;
    align-items: center;
}

.action-btn {
    background-color: transparent;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avata {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}
